.pwaShadow {
  box-shadow: $pwaBoxShadow;
}

.pwaTranslucid {
  z-index: 99;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
